.hero-section{
    margin-top: 4em;
}

.text{
    font-size: 3em;
    font-weight: bolder;
    text-align: center;
}

.text span{
    color: #2a9d8f;
    text-shadow: 5px 10px 20px #2a9d8f;
}

.image-container{
    margin-top: 4em;
    display: flex;
    width: fit-content;
    justify-content: center;
}

.img{
    width: 20%;
}